<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{static_path}}/normalize.css">
    <link rel="stylesheet" href="{{static_path}}/katex.min.css">
    <link rel="stylesheet" href="{{static_path}}/github-markdown-light.css">
    <link rel="stylesheet" href="{{static_path}}/style.css">
    <title>{{title}}</title>
</head>
<body>
    <article class="markdown-body">{{content}}</article>
</body>
</html>